<section class="col-lg-8 col-lg-offset-2">
	<div class="col-lg-12">
		<h1 class="space-title"><%=raw I18n.t ('.method_payments.actions.edit_method_payment') %></h1>
	</div>
	<%= render 'form', method_payment: @method_payment %>
</section>
