$(document).ready(function(){
	$('#myModal').modal('toggle');
	$(".modal-backdrop").remove();
	$('#mensajeBeneficiario span').html('');
	$("body").removeClass("modal-open");
	$('#myModal').remove();
	$("#mensaje-beneficiario-creado").html("<div class='alert alert-success notice'>El beneficiario ha sido creado satisfactoriamente.<button type='button' class='close' data-dismiss='alert'>&times;</button></div>");
	var nombre="<%= params[:beneficiary][:people_attributes][:first_name] %>"+" <%= params[:beneficiary][:people_attributes][:surname] %>";
	var cedula="<%= params[:beneficiary][:people_attributes][:identification_document] %>";
	$('#service_service_beneficiary_id').val('<%=@beneficiary.id %>')
	$("#Nombre").html(nombre);
	$("#Cedula").html(cedula);
	$("#beneficiary").show();
	$("#formService").show();
	$("#mensaje-beneficiario-creado").show();
	$("#searchBeneficiary").val('');
	$("#mensajeBeneficiario").hide();
	$("#btn-beneficiario").hide();
});
