<section class="col-lg-8 col-lg-offset-2">
	<div class="col-lg-12">
		<h1 class="space-title"><%=raw I18n.t ('.providers.actions.new_provider') %></h1>
	</div>
	<%= render 'form', provider_provider: @provider_provider %>
</section>

