<div style=" margin: 0 auto; width: 50%; ">
  <p>¡Saludos, ha recibido una noticia o sugerencia desde el portal!</p>

  <p>Contenido del correo:</p>
  <p>
    Nombre y apellido: <%= @contact.name %>
    <br>
    Correo electronico: <%= @contact.email %>
    <br>
    Asunto: <%= @contact.subject %>
    <br>
    Mensaje: <%= @contact.message %>
  </p>
</div>