<h1>Solicitud de recuperación de contraseña </h1>

<p>
	Saludos, Administrador(a). <%= @mail.email_security%></p>
	<p>El presente es para notificar que <%=@user.email%>,solicita clave provisional para poder ingresar al sistema.</p>

  <p>Para verificar la solicitud por favor ingrese siguiente enlace:
   <%= link_to "Recuperar contraseñas", forget_password_url, class: "hvr-skew-backward" %></p>

</p>

