<h1><%= raw I18n.t('.role_types.actions.new_role_type') %></h1>
<%= render 'form', security_role_type: @security_role_type %>
<%= link_to I18n.t('.general.action.cancel'), security_role_types_path %>
