<section class="col-lg-8 col-lg-offset-2">
  <div class="col-lg-12">
    <h1 class="space-title"><%=raw I18n.t ('.product_types.actions.edit_product_type')%></h1>
  </div>
  <%= render 'form', product_product_type: @product_product_type %>
</section>

