<h1>Notificaci칩n </h1>

<p>
	Saludos, Sr(a). <%= @people.nombre_apellido %>, su producto <%= @service_service.payment_contracted_product.product_product.nombre %> ha sido activado satisfactoriamente y sera usado por <%= @service_service.beneficiary.buscar_nombre_beneficiario%>.
</p>
<p>
  En las pr칩ximas 24 horas usted o su beneficiario ser치n contactados por nuestro proveedor de servicios para confirmar la fecha de cita.
</p>
<p>
	Si desconoce de la activacion del producto o no ha recibido la llamada, comunicarse al siguiente correo electr칩nico atencionenlinea@novosalud.com.ve.
</p>
<p>
	Atentamente:
	Novosalud, Medicina Prepagada, S.A.
</p>


