<section class="col-lg-8 col-lg-offset-2">
  <div class="col-lg-12">
    <h1 class="space-title"><%= raw I18n.t('.profiles.actions.edit_profile') %></h1>
  </div>
<%= render 'form', security_profile: @security_profile %>
</section>
