<section class="col-lg-8 col-lg-offset-2">
	<div class="col-lg-12">
		<h1 class="space-title">Editing Provider Medico Provider</h1>
	</div>
	<%= render 'form', provider_medico_provider: @provider_medico_provider %>

	<%= link_to 'Show', @provider_medico_provider %> |
	<%= link_to 'Back', provider_medico_providers_path %>
</section>
