<%if @resource.client_type == "empleado"%>
  <p>Hola <%= @resource.employee.nombre_apellido %>!</p>
<%elsif @resource.client_type == "persona"%>
  <p>Hola <%= @resource.customer.people.nombre_apellido %>!</p>
<%else%>
  <p>Hola <%= @resource.company.name %>!</p>
<% end -%>

<%if @resource.client_type == "persona" || @resource.client_type == "empresa" %>
<p>Has solicitado un enlace para cambiar su contraseña. Puede hacerlo a través del siguiente enlace.</p>
	<p><%= link_to 'Crear nueva contraseña', edit_password_url(@resource, reset_password_token: @token, :user => @resource.email ) %></p>
	<p>Si no lo solicitó, ignore este correo electrónico.</p>
<p>Su contraseña no cambiará hasta que acceda al enlace anterior y cree una nueva.</p>

<%else%>
<p>La solicitud de recuperación de contraseña ha sido enviada correctamente.</br>
<p>luego de verificar la solicitud, el administrador enviará una la clave provisional a su correo electrónico.</p>
<p>Si no solicitó recuperación de contraseña, ignore este correo electrónico.</p>
<%end%>