<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Nosotros – Novosalud</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<link rel="icon" href="http://novosalud.com.ve/sitio/wp-content/uploads/2016/06/icon-50x50.png" sizes="32x32"/>
	<link rel="icon" href="http://novosalud.com.ve/sitio/wp-content/uploads/2016/06/icon.png" sizes="192x192"/>
	<link rel="apple-touch-icon-precomposed" href="http://novosalud.com.ve/sitio/wp-content/uploads/2016/06/icon.png"/>
	<meta name="msapplication-TileImage" content="http://novosalud.com.ve/sitio/wp-content/uploads/2016/06/icon.png"/>
	<!-- JavaScripts dinamicos mediante Rails -->
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
