<footer id="footer" class="footer style_1">
  <div class="widgets_row">
    <div class="container resp-footer">
      <div class="col-lg-5 text-left pl-0">
       Derechos Reservados © 2016 Novosalud, Medicina prepagada, S.A.
     </div>
     <div class="col-lg-6 col-lg-offset-1  text-left pl-0 pr-0 list-footer">
      <div class="col-lg-4 col-sm-4 pr-0 text-right">
        <a href="<%= I18n.t ('.general.attribute.web_novo') %>/sitio/aviso-de-politica-de-privacidad-y-uso-de-datos/" target="_blank">PÓLITICAS DE PRIVACIDAD</a>
      </div>
      <div class="col-lg-4 col-sm-4 pr-0 text-right">
       <a href="<%= I18n.t ('.general.attribute.web_novo') %>/" target="_blank">PREGUNTAS FRECUENTES</a>
     </div>
     <div class="col-lg-4 col-sm-4 pr-0 text-right">
       <a href="<%= I18n.t ('.general.attribute.web_novo') %>/unase-a-nuestra-red/" target="_blank">ÚNETE A NUESTRO EQUIPO</a>
     </div>
   </div>
 </div>
</div>

</footer>

