<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="topFixedNavbar1">
  <ul class="nav navbar-nav">
    <li>
      <a href="#"><span class="sr-only">(current)</span></a>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Configuracion
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Tipo de Productos</a></li>
        <li><a href="#">Epecialidades</a></li>
        <li><a href="#">Modalidades de Pago</a></li>
        <li><a href="/positions">Cargos</a></li>
        <li><a href="/banks">Bancos</a></li>
        <li><a href="/organizations/1">Organización</a></li>
      </ul>
    </li>
    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Productos<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/articles">Configurar Productos</a></li>
      </ul>
    </li>
    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Paquetes o Promociones<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Configurar Paquetes</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Proveedores
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Configurar Proveedores</a></li>
        <li><a href="#">Registrar Medicos</a></li>
      </ul>
    </li>
  </ul>
</div>
