<h1>Editing Security Role Type Menu</h1>

<%= render 'form', security_role_type_menu: @security_role_type_menu %>

<%= link_to 'Show', @security_role_type_menu %> |
<%= link_to 'Back', security_role_type_menus_path %>
