<section class="col-lg-8 col-lg-offset-2">
	<div class="col-lg-12">
		<h1 class="space-title"><%=raw I18n.t ('.company_types.actions.edit_company_type')%></h1>
	</div>
	<%= render 'form', business_company_type: @business_company_type %>
</section>
