<section class="col-lg-8 col-lg-offset-2">
	<div class="col-lg-12">
		<h1 class="space-title"><%=raw I18n.t ('.account.actions.edit_account') %></h1>
		<%= render 'form', account: @account %>

	</div>
</section>

